table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    table-layout: fixed;
}

table th,
table td,
table tr {
    border: none;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.bottone {
    margin-left: 30px;
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

/* Absolute Center Spinner */
.spin {
    position: fixed;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
