<div class="body">
    <main>
        <div class="contenitore">
            <div class=" fadeInDown">
                <div class="head">
                    <div>
                        <p>Crm Finale</p>
                    </div>
                    <div>
                        <h1>Gestione clienti e fatture</h1>
                    </div>
                    <div>
                        <a class="nav-link" [routerLink]="['signup']"
                            routerLinkActive="router-link-active">Registrati</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
