<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form" [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
                    <h1>Login</h1>
                    <p>Inseriesci le tue credenziali</p>
                    <div class="mb-3">
                        <label for="username">Username*</label>
                        <input id="username" required formControlName="username" class="form-control" type="text"
                            autocomplete="false" />
                        <span class="errore"
                            *ngIf="formGroup.controls['username'].touched && formGroup.controls['username'].errors">Campo
                            Obbligatorio</span>
                    </div>

                    <div class="mb-3">
                        <label for="password">Password*</label>
                        <input id="password" required formControlName="password" class="form-control" type="password"
                            autocomplete="false" />
                        <span class="errore"
                            *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].errors">La
                            password deve contenere minimo 6 caratteri</span>

                    </div>
                    <div class="mb-3">
                        <div class="col d-grid gap-2">
                            <button [disabled]="formGroup.invalid" type="submit"
                                class="btn btn-success mt-4 login ">Login</button>
                        </div>
                    </div>
                    <div id="link">
                        <p>Non sei ancora registrato?<a [routerLink]="['/signup']">Registrati</a></p>
                    </div>

                </form>

            </div>

        </div>
    </div>



</div>
