.col {
    display: grid;
    place-items: center;

}


.form {
    margin-top: 40px;
    width: 400px;
    padding: 40px;
    background: #212529;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    text-align: center;
    color: white;
}



.errore {
    color: rgba(183, 43, 43, 0.979);
    font-weight: 700;
}

h1 {
    margin-bottom: 25px;
}

.login {
    padding: 14px 40px;
    border: none;
    border-radius: 24px;
    font-weight: 600;
    margin: 20px auto;
    cursor: pointer;
}


label {
    margin-bottom: 10px;
}




.col {
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}














.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
































